---
layout: default
cover: false
---

<header>
  <h1>{{ site.name }}</h1>
</header>

<hr class="stylish"/>
<article>
  {{ content }}
</article>
<hr class="stylish"/>

<main class="home-main">
  {% for collection in site.collections %}
    {% if collection.docs.size > 0 %}
    <section id="posts">
      <details {% if collection.default_open %}open{% endif %}>
        <summary>
          <h3 class="home-page-heading">{{ collection.title }}</h3>
        </summary>
        <div class="parent">
          {% for post in collection.docs %}
          <div class="post-wrapper">
            {% if collection.title == "Workshops" %}
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m/%d" }}</time>
            {% endif %}
            <a class="post-link" href="{{ post.url }}">
              {{ post.title }}
            </a>
          </div>
          {% endfor %}
        </div>
      </details>
    </section>
    {% endif %}
  {% endfor %}
  <iframe src="https://calendar.google.com/calendar/embed?src=c_ei9pbi8kses84bc3at8r969po0%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</main>
